html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    position: relative;
    background-color: rgba(0,0,0,0.05);
    
    transition: height 1000ms ease;
}

body * {
    box-sizing: border-box;
}

button {
    display: inline-block;
    float: left;
    vertical-align: top;
    
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    color: transparent;
    
    background-color: transparent;
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
}
button:focus {
    outline: none;
}

body.extended .toggle,
body.extended .hidden {
    display: block;
    width: 100%;
    background-position-x: 15px;
    color: inherit;
    text-align: left;
    text-indent: 54px;
}
body.extended .frame-drag {
    margin-left: -80px;
    width: 100%;
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../icons/ic_close_black_24px.svg);
    background-color: white;
    transition: background-color 800ms ease;
}

.close:hover {
    background-color: #ff7676;
}

.menu {
    position: absolute;
    top: 0;
    right: 40px;
    
    background-image: url(../icons/ic_more_vert_black_24px.svg);
    transition: transform 400ms ease;
}
.menu.on {
    transform: rotate(90deg);
}

.desktop {
    background-image: url(../icons/ic_desktop_mac_black_24px.svg);
}

.sound {
    background-image: url(../icons/ic_mic_black_24px.svg);
}

.mirror {
    background-image: url('../icons/ic_videocam_off_black_24px.svg');
}
.mirror.on {
    background-image: url(../icons/ic_videocam_black_24px.svg);
}

.webcam {
    background-image: url(../icons/ic_camera_black_24px.svg);
}

.frame-drag {
    background: yellow;
    -webkit-app-region: drag;
}
